<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- SEO
	============================================= -->
	<meta name="author" content="<:SEO_AUTHOR/>">
	<meta name="description" content="<:SEO_DESCRIPTION/>">
	<meta name="keywords" content="<:SEO_KEYWORDS/>">
	
	<!-- Document Title
	============================================= -->
	<title><:TITLE/> | <:SEO_TITLE/></title>
	
	<!-- Mobile Specific Metas
	============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Favicon
	============================================= -->
	<link rel="icon" type="image/png" href="/public/images/favicon.png">

	<!-- FONT
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/layout/css/normalize.css">
	<link rel="stylesheet" href="/layout/css/skeleton.css">

	<!-- Custom Stylesheet
	============================================= -->
	<style>
		<:MAIN_STYLE/>
	</style>
	
</head>

<body>
	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<div class="one-half column" style="margin-top: 25%">
				<h4><:HELLO/></h4>
				<:OUTPUT/>
			</div>
		</div>
	</div>
	
	<!-- External JavaScripts
	============================================= -->
	
	<!-- Custom Javascript
	============================================= -->
	
	<script src="/layout/js/jquery-3.3.1.min.js"></script>
	<script>
		<:MAIN_SCRIPT/>
	</script>
</body>
</html>
