<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<!-- Document Title
	============================================= -->
	<title><:TITLE/> <:SEO_TITLE/></title>
	
	<!-- Mobile Specific Metas
	============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Favicon
	============================================= -->
	<link rel="icon" type="image/png" href="/images/favicon.png">

	<!-- FONT
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/css/normalize.min.css">
	<link rel="stylesheet" href="/css/skeleton.min.css">

	<!-- Custom Stylesheet
	============================================= -->
	<style>
		<:MAIN_STYLE/>
	</style>
	
</head>

<body>
	
	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="navbar-spacer"></div>
		<nav class="navbar">
			<div class="container">
				<ul class="navbar-list">
					<li class="navbar-item"><a class="navbar-link" href="#btcSection" id="btc"><:MENU1/></a></li>
					<li class="navbar-item"><a class="navbar-link" href="#contactSection" id="contact"><:MENU2/></a></li>
					<li class="navbar-item"><a class="navbar-link" href="en" id="en"><:MENU3/></a></li>
					<li class="navbar-item"><a class="navbar-link" href="es" id="es"><:MENU4/></a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="section github">
		<div class="container">
			<div class="row">
				<div class="column category">
					<img class="u-max-full-width" src="/images/my2cents.png">
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="btcSection"> 
		<div class="container">
			<div class="">
				<h4 id="mainTitle"><:HEADER/></h4>
				<p><:SUB_HEADER/> <a href="https://github.com/beovideskevin/my2cents" target="_blank"">my2cents</a></p>
			</div>
			<div class="" id="result">
				<:CONTENT/>
			</div>
			<div class="">
				<:BTN/>
			</div>
		</div>	
	</div>

	<div class="section contact" id="contactSection">
		<div class="container">
			<div class="">
				<h4 id="mainTitle"><:CONTACT/></h4>
				<:EMAIL_RESULT/>
			</div>
			<form method="POST" action="/" id="contactForm">
				<div class="row">
					<div class="six columns">
						<label for="exampleEmailInput"><:FORM_EMAIL/></label>
						<input class="u-full-width" type="email" placeholder="test@mailbox.com" name="email" id="exampleEmailInput">
					</div>
					<div class="six columns">
						<label for="exampleSubjectInput"><:FORM_SUBJECT/></label>
						<input class="u-full-width" type="text" placeholder="hello..." name="subject" id="exampleSubjectInput">
					</div>
				</div>
				<label for="exampleMessage"><:FORM_MSG/></label>
				<textarea class="u-full-width" placeholder="Hi Kevin …" name="message" id="exampleMessage"></textarea>
				<div id="recaptcha"></div>
				<input class="button-primary" type="submit" value="Submit">
			</form>
			<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
			</script>
		</div>
	</div>
	
	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery-3.3.1.min.js"></script>

	<!-- Custom Javascript
	============================================= -->
	<script>
		<:MAIN_SCRIPT/>
	</script>
</body>
</html>
