<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- SEO
	============================================= -->
	<meta name="author" content="<:SEO_AUTHOR/>">
	<meta name="description" content="<:SEO_DESCRIPTION/>">
	<meta name="keywords" content="<:SEO_KEYWORDS/>">
	
	<!-- Document Title
	============================================= -->
	<title><:TITLE/> | <:NAV_TITLE/></title>
	
	<!-- Mobile Specific Metas
	============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Favicon
	============================================= -->
	<link rel="icon" type="image/png" href="images/favicon.png">

	<!-- FONT
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/skeleton.min.css">

	<!-- Custom Stylesheet
	============================================= -->
	<style>
		<:MAIN_STYLE/>
	</style>
	
</head>

<body>
	
	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<:MAIN_CONTENT/>
	
	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery-3.3.1.min.js"></script>

	<!-- Custom Javascript
	============================================= -->
	<script>
		<:MAIN_SCRIPT/>
	</script>
</body>
</html>
